<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto/da8bcbe4-4a44-4eea-8200-768d98f07367/air-max-270-mens-shoes-9h9V1K.jpg"
      cardTitle="Nike Air Max 270"
      cardDescription="Conforto e estilo para o seu dia a dia."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Adidas Ultraboost 22"
      photoCover="https://assets.adidas.com/images/w_600,f_auto,q_auto/b57eaf9e1e074f0292e3ab8901f1c8a1_9366/ultraboost-22-shoes.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Puma RS-X3 Puzzle"
      photoCover="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa/w_1200,h_1200,c_fill,w_500,ar_1_1/374123_01/final_1.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="4"
      cardTitle="Nike Air Force 1"
      photoCover="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto/ftswibgyfbk7xd6rmbiy/air-force-1-07-mens-shoes-7wR9J9.jpg"
    >
    </app-small-card>
  </div>
</div>
